<div class="text-field">
  <%= form.label :name_of_the_building %>
  <%= form.text_field :name_of_the_building, type: 'name of the building' %>
</div>

<div class="text-field">
  <%= form.label :address %>
  <%= form.text_field :address, type: 'address' %>
</div>

<div class="text-field">
  <%= form.label :details %>
  <%= form.text_field :details, type: 'details' %>
</div>

<div class="integer-field">
  <%= form.label :price %>
  <%= form.text_field :price, type: 'price' %>
</div>

