
<h1 class="text-center h3 mb-3 font-weight-light" style="margin-top: 5vh"> Here are all your options: </h1> <br/>

<div class="card-columns text-center">
  <% if @listings != nil %>
    <% @listings.each do |listing| %>
    
      <div class="card text-center w-75 p-3 justify-content-lg-around mx-auto ">
        <div class="card-header">
          <%= listing.created_at %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= listing.name_of_the_building %></h5>
          <p class="card-text"><%= listing.details %> </p>
          <div class="btn btn-primary"> <%= link_to "More details", listing_path(listing.id), :class => "text-white" %> 
          </div>
        </div>
        <div class="card-footer text-muted">
          Published by: <%=listing.user.full_name %>
        </div>
      </div> <br/>
  
    <%end %>
  <% end %>
</div> 
<br/>
  
  <% if @listings != nil %>
     <%= paginate @listings %>
  <% end %>
