

	<div class="date-field">
		<%= form.label :start_from %>
	  	<%= form.date_field :start_from %>
	</div>

	<div class="date-field">
	  	<%= form.label :end_on %>
	  	<%= form.date_field :end_on %>
	</div>

	<div class="submit-field">
	      <%= form.submit %>
	</div>